################################################################################
# Standardowy .gitignore dla C++ i Visual Studio
################################################################################

# Foldery konfiguracyjne i cache Visual Studio
.vs/
*.ipch
*.opendb
*.db
*.vc.db
*.vc.VC.opendb

# Prywatne pliki ustawień użytkownika (żeby nie nadpisywać ustawień prowadzącego)
*.user
*.userosscache
*.sln.docstates

# Wyniki kompilacji (nie wrzucamy na GitHuba plików wykonywalnych i obiektowych)
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Bb]in/

# Ukryte pliki systemowe
.DS_Store
Thumbs.db
