################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/PEA 1 zadanie 1/PEA_Projekt_1/.vs/PEA_Projekt_1.slnx
